/* part 2 css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
/* css variables */
:root{
    --main-color:blue;
    --heading-size:24px;
    --container-width:80%;
    --container-height:100%;
}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Styling for the heading */
.container h1 {
color: blue;
font-size: 24px;
text-align: center;
}
.container p{
    text-align: center;
    margin:10px;
}
 .container-fluid{
    background-color:rgb(170, 167, 167);
 } 
/* Background color for the container div */
.container {
    background-color: lightgray;
    width: 500px;
    height: 300px;
    margin:0 auto;

}
ul{
    display: flex;
    align-items: center;
    
}
  ul li {
    list-style: none;
    padding:10px 20px;
    background-color:green;
    margin:2px;
    border-radius: 3px;

    
  }
ul li:hover{
    background-color: blue;
}
ul li a{
    text-decoration: none;
    color:white;
}

img{
    margin:20px;
    border-radius: 2px;
}
/* Background color for the table */
table {
    background-color: lightblue;
    border-collapse: collapse;
 }
  
/* Border around table cells */
td {
    border: 1px solid black;
    padding: 8px;
}
  
/* Hover effect for table rows */
tbody tr:hover {
    background-color: lightgreen;
}
  
 /* Styling for the first list item */
ul li:first-child {
    color: red;
    font-weight: bold;
}
  /* Styling for the image */
img {
    width: 200px;
    height: 150px;
}
  
/* Styling for specific table cells */
tbody tr:first-child td {
    background-color: yellow;
}
  
tbody tr:last-child td {
    background-color: pink;
}
  
      /* Styling for the table header row */
thead tr th {
    background-color: gray;
    color: white;
}

h1{
    color:var(--main-color);
    font-size: var(--heading-size);
    text-align:center
}

.container{
    width:var(--container-width);
    height:var(--container-height);
}






/* part 3 css */

 /* Styling for specific table cells */
 tbody tr:first-child td {
    background-color: yellow;
  }
  
/* Hover effect for table rows */
tbody tr:hover {
    background-color: lightgreen;
}
ul li:first-child {
    color: red;
    font-weight: bold;
}

  /* Styling for links on hover and active */
  a:hover {
    color: purple;
    text-decoration: underline;
}

.container::before {
    content: "";
    font-style: italic;
    display: block;
    margin-bottom: 10px;
  }

.container::after{
    background-color:green;
    color:white;
}
.box-model{
    height:200px;
    width:300px;
    background-color: green;
    margin:20px;
    border-radius: 5px;
    padding:5px;
    position: relative;
}
.inner-div{
    height:100px;
    width:100px;
    background-color:red;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;

}